.container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.inner-card {
    padding: 20px;
}
.left {
  position: absolute;
  right: 10px;
  top: 90px;
  text-align: right;
  font-style: italic;
}