<h3><strong>Dodawanie produktów</strong>    </h3><hr>
<form [formGroup]="addItemToList" (ngSubmit)="onSubmit()">
    <label>
        <h5>Nazwa produktu:</h5>
        <input class="form-control" type="text" formControlName="productName">
    </label>

    <label>
        <h5>Opis produktu:</h5>
        <input class="form-control" type="text" formControlName="productDescription">
    </label>

    <label>
        <h5>Cena 1:</h5>
        <input class="form-control" type="text" formControlName="productPrice1">
    </label>

    <label>
        <h5>Cena 2:</h5>
        <input class="form-control" type="text" formControlName="productPrice2">
    </label>

    <label>
        <h5>Cena 3:</h5>
        <input class="form-control" type="text" formControlName="productPrice3">
    </label>

    <label>
        <h5>Link do zdjęcia produktu:</h5>
        <input class="form-control" type="text" formControlName="productIMGLink">
    </label>
    <hr>
    <button type="submit" [disabled]="!addItemToList.valid" class="btn btn-outline-dark">Dodaj produkt do listy</button>
</form>