<div class="container">
  <div class="row">
 
      <div *ngFor="let product of products" class="col-md-4">

        
          <div class="card mb-4 shadow-sm">

            <img src="{{ product.imgLink }}" onerror="this.onerror=null;this.src='https://cdn.jsdelivr.net/gh/bartoszluczak/angular-ivy-bskvbj@master/src/assets/img/no_img.jpg';"height="auto" width="100%"/>
          
            <div class="card-body">
              <h5>{{product.name}}</h5><hr>
              <p class="card-text">{{product.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/productdetails/{{product.id}}">Szczegóły</button>
                </div>
                <small class="text-muted">{{product.price1 | currency:'PLN'}}</small>
                <small class="text-muted">{{product.price2 | currency:'PLN'}}</small>
                <small class="text-muted">{{product.price3 | currency:'PLN'}}</small>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>