.container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.inner-card {
    padding: 20px;
}

.bottom-container {
    margin-top: 20px;
    padding: 15px;
}

.product-container {
    padding:  10px;
    background-color: rgba(226, 226, 226, 0.1);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

ul {
    margin-left: 0;
    padding-left: 0;
}